<div class="flex flex-col items-center w-full bg-blue-300 p-2 rounded mb-4">
  <div class="w-full flex flex-col bg-blue-200 p-6 rounded-lg shadow-md mb-4">
    <h1 class="text-2xl font-semibold text-blue-500 mb-2"><%= @post.title %> by <%= @post.author.name %></h1>
    <p class="self-end text-gray-600">Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></p>

    <p class="mt-4"><%= @post.text %></p>
  </div>

  <% if @comments.present? %>
  <% @comments.each do |comment| %>
    <div class="w-full bg-gray-100 p-3 rounded-md mb-2">
      <p class="text-sm text-gray-700"><%= comment.user.name %>: <%= comment.text %></p>
    </div>
  <% end %>
<% else %>
  <div class="w-full bg-gray-100 p-3 rounded-md mb-2">
    <p class="text-sm text-gray-700">No comments yet.</p>
  </div>
<% end %>
</div>
</div>




